* {
  font-family: "JetBrains Mono", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.row {
  --bs-gutter-x: 0;
}

.style-h2 {
  color: #A3A5A6;
  text-align: right;
}

.style-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #3F4040;
  border: 3px solid #3F4040;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.15s all linear;
  cursor: pointer;
}
.style-icon:hover {
  background: none;
}
.style-icon:hover svg {
  fill: #E0A80D;
}
.style-icon svg {
  width: 23px;
  fill: #717273;
  transition: 0.3s all;
}

.progress-30:before {
  width: 30%;
  -webkit-animation: 1s ease-in 1s 1 both progressAnimation-30 !important;
          animation: 1s ease-in 1s 1 both progressAnimation-30 !important;
}

.progress-50:before {
  width: 50%;
  -webkit-animation: 1s ease-in 1s 1 both progressAnimation-50 !important;
          animation: 1s ease-in 1s 1 both progressAnimation-50 !important;
}

.progress-60:before {
  width: 60%;
  -webkit-animation: 1s ease-in 1s 1 both progressAnimation-60 !important;
          animation: 1s ease-in 1s 1 both progressAnimation-60 !important;
}

.progress-70:before {
  width: 70%;
  -webkit-animation: 1s ease-in 1s 1 both progressAnimation-70 !important;
          animation: 1s ease-in 1s 1 both progressAnimation-70 !important;
}

@-webkit-keyframes progressAnimation {
  to {
    width: 80%;
  }
  from {
    width: 0%;
  }
}

@keyframes progressAnimation {
  to {
    width: 80%;
  }
  from {
    width: 0%;
  }
}
@-webkit-keyframes progressAnimation-30 {
  to {
    width: 30%;
  }
  from {
    width: 0%;
  }
}
@keyframes progressAnimation-30 {
  to {
    width: 30%;
  }
  from {
    width: 0%;
  }
}
@-webkit-keyframes progressAnimation-50 {
  to {
    width: 50%;
  }
  from {
    width: 0%;
  }
}
@keyframes progressAnimation-50 {
  to {
    width: 50%;
  }
  from {
    width: 0%;
  }
}
@-webkit-keyframes progressAnimation-60 {
  to {
    width: 60%;
  }
  from {
    width: 0%;
  }
}
@keyframes progressAnimation-60 {
  to {
    width: 60%;
  }
  from {
    width: 0%;
  }
}
@-webkit-keyframes progressAnimation-70 {
  to {
    width: 70%;
  }
  from {
    width: 0%;
  }
}
@keyframes progressAnimation-70 {
  to {
    width: 70%;
  }
  from {
    width: 0%;
  }
}
.header {
  display: flex;
  background-color: #2D2E2E;
}
.header__profil {
  height: 100vh;
  width: 35%;
  background-color: #2B2C2C;
  padding: 80px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header__profil-pic {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #000;
}
.header__profil-pic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.header__content {
  height: 100vh;
  width: 65%;
  padding: 80px;
  background-color: #2D2E2E;
  transition: background-color 0.3s;
}
.header__info {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__info-title {
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  color: #A4A5A6;
  margin-bottom: 20px;
}
.header__info-title span {
  font-weight: 700;
  font-size: 62px;
  text-transform: uppercase;
  color: #E0A80D;
}
.header__info-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 18px;
  color: #899899;
}
.header__info-icons {
  display: flex;
}
.header__info-icons a {
  margin-left: 10px;
}
.header__info-icons a:nth-child(1) {
  margin-left: 0;
}
.header__info-contacts {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.header__info-contacts hr {
  margin-bottom: 20px;
  border: none;
  background: #404242;
  height: 2px;
  transition: background 0.3s;
}
.header__info-inner {
  display: grid;
  grid-template-columns: repeat(3, 250px);
}
.header__info-inner-element h3 {
  font-size: 18px;
  color: #A4A5A6;
  font-weight: 400;
}
.header__info-inner-element span {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  color: #979899;
}

.about {
  display: flex;
}
.about__profil {
  width: 35%;
  background-color: #292A2A;
  padding: 80px;
  transition: background-color 0.3s;
}
.about__info {
  width: 65%;
  background-color: #2B2C2C;
  padding: 80px;
  transition: background-color 0.3s;
}
.about__info-descr {
  color: #979899;
  line-height: 1.4;
}

.skills {
  display: flex;
}
.skills__profil {
  background-color: #2B2C2C;
  padding: 80px;
  width: 35%;
  transition: background-color 0.3s;
}
.skills__info {
  padding: 80px;
  background-color: #2D2E2E;
  width: 65%;
  transition: background-color 0.3s;
}
.skills__info-descr {
  display: flex;
  color: #A4A5A6;
}
.skills__info-descr span {
  margin-right: 10px;
  color: #E0A80D;
  font-weight: 700;
}
.skills__info-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.skills__info-progress {
  margin-top: 5px;
  width: 100%;
  height: 6px;
  background-color: #404242;
  transition: background-color 0.3s;
}
.skills__info-progress:before {
  content: "";
  display: block;
  height: 6px;
  background-color: #E0A80D;
  -webkit-animation: 1s ease-in 1s 1 both progressAnimation;
          animation: 1s ease-in 1s 1 both progressAnimation;
}
.skills__info-progress:before:nth-child(2):before {
  width: 70%;
}

.education {
  display: flex;
}
.education__profile {
  width: 35%;
  padding: 80px;
  background-color: #292A2A;
  transition: background-color 0.3s;
}
.education__info {
  width: 65%;
  padding: 80px;
  background-color: #2B2C2C;
  transition: background-color 0.3s;
}
.education__info-content {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: calc(1rem - 2px);
  padding-left: 25px;
  position: relative;
  border-color: #404242;
  transition: border-color 0.3s;
}
.education__info-item {
  position: relative;
  margin-bottom: 40px;
}
.education__info-item:nth-child(2) {
  margin-bottom: 0;
}
.education__info-dots {
  height: 10px;
  width: 10px;
  position: absolute;
  box-shadow: 0 0 0 6px #2d2e2e;
  transition: box-shadow 0.3s;
  left: -31px;
  top: 3px;
  border-radius: 50%;
  background-color: #E0A80D;
}
.education__info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.education__info .grid-col__title {
  font-size: 12px;
  color: #636464;
}
.education__info .grid-col__name {
  font-size: 16px;
  color: #A4A5A6;
  font-weight: 500;
}
.education__info .grid-col__job {
  color: #A4A5A6;
  font-weight: 300;
  font-size: 12px;
}
.education__info .grid-col p {
  color: #979899;
  font-size: 14px;
  line-height: 1.4;
}

.footer {
  display: flex;
}
.footer__profile {
  padding: 80px;
  background-color: #2B2C2C;
  transition: background-color 0.3s;
  width: 35%;
}
.footer__info-item {
  width: 100%;
  height: 100%;
  padding: 80px;
  position: relative;
}
.footer__info {
  width: 65%;
  background-color: #2D2E2E;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer__info-contacts {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
.footer__info-contacts hr {
  margin-bottom: 20px;
  border: none;
  background: #404242;
  transition: background 0.3s;
  height: 2px;
}
.footer__info-inner {
  display: grid;
  grid-template-columns: repeat(3, 250px);
}
.footer__info-inner-element h3 {
  font-size: 18px;
  color: #A4A5A6;
  font-weight: 400;
}
.footer__info-inner-element span {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  color: #979899;
}
.footer__info-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__info-title {
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  color: #A4A5A6;
  margin-bottom: 20px;
}
.footer__info-title span {
  font-weight: 700;
  font-size: 62px;
  text-transform: uppercase;
  color: #E0A80D;
}
.footer__info-icons {
  display: flex;
}
.footer__info-icons a {
  margin-left: 10px;
}
.footer__info-icons a:nth-child(1) {
  margin-left: 0;
}

.theme {
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.theme svg {
  cursor: pointer;
  fill: #636464;
}

@media all and (max-width: 1360px) {
  .header {
    display: block;
  }
  .header__profil {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 80px 0 30px 0;
  }
  .header__content {
    width: 100%;
    height: auto;
    padding: 30px 0 80px 0;
  }
  .header__info-contacts {
    position: relative;
    margin-top: 60px;
  }
  .header__info-inner {
    justify-content: space-around;
    gap: 0;
  }
  .header__info-title {
    text-align: center;
  }
  .header__info-wrapper {
    flex-direction: column;
    margin: 0 auto;
  }
  .header__info-icons {
    justify-content: center;
    margin-top: 20px;
  }
  .about {
    display: block;
  }
  .about__profil {
    background: #282929;
    width: 100%;
  }
  .about__profil h2 {
    text-align: left;
  }
  .about__info {
    width: 100%;
  }
  .skills {
    display: block;
  }
  .skills__profil {
    background: #282929;
    width: 100%;
  }
  .skills__profil h2 {
    text-align: left;
  }
  .skills__info {
    width: 100%;
  }
  .education {
    display: block;
  }
  .education__profile {
    background: #282929;
    width: 100%;
  }
  .education__profile h2 {
    text-align: left;
  }
  .education__info {
    width: 100%;
  }
  .footer {
    display: block;
  }
  .footer__profile {
    background: #282929;
    width: 100%;
  }
  .footer__profile h2 {
    text-align: left;
  }
  .footer__info {
    width: 100%;
  }
}
@media all and (max-width: 992px) {
  .header__info-inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    text-align: center;
  }
  .education__info {
    padding: 0 10px;
    text-align: center;
  }
  .education__info-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .education__info .grid-col:nth-child(2) {
    margin-top: 10px;
  }
  .footer__info-inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    text-align: center;
  }
  .footer__info-wrapper {
    display: block;
  }
}
@media all and (max-width: 576px) {
  .footer__info-title span {
    font-size: 48px;
  }
}/*# sourceMappingURL=style.css.map */